body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bolder {
  font-weight: 900;
}

.bold {
  font-weight: 700;
}

.semibold {
  font-weight: 500;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.text-center {
  text-align: center;
}



.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}

.flex-column {
  flex-direction: column;
}

.m-auto {
  margin: auto;
}

.ml-40 {
  margin-left: 40px;
}

.mt-20 {
  margin-top: 40px;
}

.border-top {
  border-top: 2px solid rgb(236, 50, 55);
}

.bg-red {
  background-color: rgb(236, 50, 55)
}

.logo {
    width: 20em;
    height: 100px;
  }
  
  .trophy-image {
    height: 580px;
    margin-top: 30px;
  }
  
  .award-image {
    height: 400px;
    width: 670px;
    margin-left: 45px;
  }

.container {
  max-width: 1092px;
  background: linear-gradient(0deg, rgb(240, 233, 161),  #FFF);
  padding: 10px;
}

.product-image {
  width: 70%;
  margin: auto;
}
span {
  color: rgb(236, 50, 55);
  font-weight: bold;
  font-size: 13px;
}

.svg{
    color:rgb(236, 50, 55);
    background-color: #FFF;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    padding: 5px;
    margin-right: 5px;
}

.footer{
    width: 100%;
    height: 100px;
}

.link{
  color: #FFF;
  text-decoration: none;
  font-size: 15px;
  border: none;
  background-color:rgb(236, 50, 55);
  cursor: pointer;

}


@media screen and (max-width: 1074px) {
    .container {
        width: 100%;
        background: linear-gradient(0deg, rgb(240, 233, 161),  #FFF);
        padding: 30px;
      }
    .logo {
        width: 350px;
        height: 100px;
      }
      
      .trophy-image {
        height: 30em;
        margin-top: 30px;
      }
      
      .award-image {
        height: 20em;
        width: 40em;
        margin-left: 45px;
      }
      .product-image {
        width: 70%;
        margin: auto;
      }
      
      .footer{
          width: 100%;
          height: 6em;
      }
  }
@media screen and (max-width: 900px) {
    .container {
        width: 100%;
        background: linear-gradient(0deg, rgb(240, 233, 161),  #FFF);
        padding: 30px;
      }
    .logo {
        width: 350px;
        height: 100px;
      }
      
      .trophy-image {
        height: 25em;
        margin-top: 25px;
      }
      
      .award-image {
        height: 18em;
        width: 35em;
        margin-left: 2em;
      }
    
      
      .footer{
          width: 100%;
          height: 4em;
      }
  }


@media screen and (max-width: 782px) {
    .container {
        width: 100%;
        background: linear-gradient(0deg, rgb(240, 233, 161),  #FFF);
        padding: 10px;
      }

    .logo {
        width: 250px;
        height: 90px;
      }
      
      .trophy-image {
        height: 20em;
        margin-top: 25px;
      }
      
      .award-image {
        height: 15em;
        width: 30em;
        margin-left: 2em;
      }
    
      
      .footer{
          width: 100%;
          height: 3em;
      }
  }

  @media screen and (max-width:710px) {
    .trophy-image {
        height: 25em;
        margin-top: 25px;
      }
      
      .award-image {
        height: 10em;
        width: 20em;
        margin-left: 4em;
      }

      .footer{
        width: 100%;
        height: 2em;
    }
    .svg{
        color:rgb(236, 50, 55);
        background-color: #FFF;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        padding: 5px;
        margin-right: 5px;
    }
    
  }
  @media screen and (max-width:632px) {
    .trophy-image {
        height: 15em;
        margin-top: 25px;
      }
      
      .award-image {
        height: 10em;
        width: 20em;
        margin-left: 4em;
      }

      
    

    .award-container{
      /* flex-direction: column; */
      align-items: center;
    }
    
  }
  @media screen and (max-width:632px) {
    .container {
      width: 100%;
      background: linear-gradient(0deg, rgb(240, 233, 161),  #FFF);
      padding: 5px;
    }
    .trophy-image {
        height: 15em;
        margin-top: 8px;
      }
      
      .award-image {
        height: 17em;
        width: 90%;
        margin-left: 3em;
      }

      .footer{
        width: 100%;
        height: 2em;
    }
    
    .award-container{
      flex-direction: column-reverse;
      align-items: center;
    }
    .link{
      text-decoration: none;
      color: #FFF;
      font-size: 8px;
  }
    
  }